# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\competitive-challenges\Hackerrank\30 Days of Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
